<a href="https://colab.research.google.com/github/pramod1997/submission_data_sciece/blob/master/Data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime , timedelta
from sklearn.preprocessing import StandardScaler , PowerTransformer

In [0]:
df = pd.read_excel('Data.xlsx',sheet_name =1)

In [3]:
df.head()

,Linkedin.is.Verified,Facebook.is.Verified,Date.of.Birth,Gender,Education.Level,No.of.dependents,Detailed.reason.by.Applicant,CRIF.S1.Score,Application.incomplete.date,Loan.Amount,...,Residential.status,UTM.Source,Created.Date,pymt_standing,Interest.Rate,Maturity.Date,Total.Amount.Paid,Principal.Advance.Remaining,Delinquent.Amount,Fee.Set
0,NaN,NaN,1980-07-03,Male,Professional,1 to 2,I am working as Software Eng in a IT firm sinc...,753.0,2017-03-01,200000,...,Rented,NaN,2016-11-18,Active - Good Standing,16.41,2020-01-04,113840.00,123741.56,0.00,1-M3
1,NaN,NaN,1983-02-06,Male,Graduate,1 to 2,I am working as an analyst Programmer in a IT ...,NaN,2016-11-18,85000,...,Rented,NaN,2016-11-18,Active - Good Standing,19.50,2018-01-12,87209.00,16762.90,0.00,1-M5
2,NaN,NaN,1994-12-20,Male,Upto Hr Secondary,0,I have enough salary enough that i can take ca...,NaN,2016-11-19,50000,...,Self or spouse owned,NaN,2016-11-19,Active - Bad Standing,16.07,2018-01-12,31222.92,30407.81,19500.56,1-M3
3,NaN,NaN,1981-04-20,Male,Graduate,1 to 2,"Hi team my name is Balaji Polam,from last mont...",NaN,2016-11-20,130000,...,Self or spouse owned,NaN,2016-11-20,Closed - Obligations met,24.23,2019-01-12,174238.16,0.00,0.00,1-M7
4,NaN,NaN,1977-05-29,Male,Post Graduate,3 to 5,I want to pay children's education fess and my...,NaN,2016-11-21,85000,...,Company Quarters,NaN,2016-11-21,Active - Good Standing,19.55,2019-01-12,63229.00,47146.24,0.00,1-M5

In [0]:
# spearating the columns on  basis of datatypes 
numeric_cols = [x for x in df.columns if df[x].dtypes in ['float64']]
string_cols = [x for x in df.columns if df[x].dtypes not in ['float64']]

In [0]:
## Analyse numeric values first

In [6]:
df[numeric_cols].isnull().sum()

Linkedin.is.Verified                        1443
Facebook.is.Verified                        1186
CRIF.S1.Score                                188
Payment.Amount                                 0
Interest.Paid                                  0
Principal.Advance.Paid                         0
EPFO.Verification.Status                    1990
Total.years.of.experience.in.Employment.       3
Estimated.Interest                             0
Bank.Transactions.Fetched                      3
Debt.service.ratio                            17
Salary.Income.current.month                    3
Interest.Rate                                  0
Total.Amount.Paid                              0
Principal.Advance.Remaining                    0
Delinquent.Amount                              0
dtype: int64

In [0]:
### dropping the columsn with too many missing values - > linkedin , facebook , epfo , bank_transcation
numeric_cols.remove('Linkedin.is.Verified')
numeric_cols.remove('Facebook.is.Verified')
numeric_cols.remove('EPFO.Verification.Status')
numeric_cols.remove('Bank.Transactions.Fetched')

In [8]:
numeric_cols

['CRIF.S1.Score',
 'Payment.Amount',
 'Interest.Paid',
 'Principal.Advance.Paid',
 'Total.years.of.experience.in.Employment.',
 'Estimated.Interest',
 'Debt.service.ratio',
 'Salary.Income.current.month',
 'Interest.Rate',
 'Total.Amount.Paid',
 'Principal.Advance.Remaining',
 'Delinquent.Amount']

In [9]:
### apllying power transform to get rid of skewness
pt = PowerTransformer( method='yeo-johnson', standardize=False)
df[numeric_cols] = pt.fit_transform(df[numeric_cols])

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:2798: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

In [0]:
### after seeing the eda on each of the columns in EDA file ---> following actions on missing data  --> first log transform for skewed and then 
for x in numeric_cols:
  if (df[x].isnull().sum()>0):
    df[x].fillna(df[x].mean(),inplace = True)

In [0]:
## the following transforms the data ----> z normalised the data ---> 
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [0]:
##now non numeric cols

In [13]:
df[string_cols].isnull().sum()

Date.of.Birth                     3
Gender                            3
Education.Level                   3
No.of.dependents                  3
Detailed.reason.by.Applicant      7
Application.incomplete.date      95
Loan.Amount                       0
Contract.Date                     0
Marital.status                    3
Application.Completion.time      18
Term                              0
First.Payment.Date.y              0
Last.Payment.Date               195
Application.ID                    3
CL.Purpose..Name                  3
Residential.status                3
UTM.Source                      940
Created.Date                      3
pymt_standing                     0
Maturity.Date                     0
Fee.Set                           0
dtype: int64

In [0]:
## dropping some cols which are descriptive and not important

string_cols.remove('Detailed.reason.by.Applicant')
string_cols.remove('Application.incomplete.date')
string_cols.remove('Application.Completion.time')
string_cols.remove('UTM.Source')
string_cols.remove('Application.ID')

In [0]:
# for now dropping first payment and last payment , created date , cl purpose
string_cols.remove('Created.Date')
string_cols.remove('CL.Purpose..Name')
string_cols.remove('Last.Payment.Date')
string_cols.remove('First.Payment.Date.y')

In [0]:
## for dob

present = datetime.now()
present_year = present.year
df['Date.of.Birth'] = (present_year - df['Date.of.Birth'].apply(lambda x: x.year))
df['Date.of.Birth'].fillna(df['Date.of.Birth'].median(), inplace = True)

In [0]:
df['Gender'].replace(np.nan,'Male',inplace = True) 
### encoding the data
dict = {'Male' :1 , 'Female':0}
df['Gender'].replace(dict,inplace = True)

In [0]:
df['Education.Level'].replace(np.nan,'Graduate',inplace = True) 
### replacing the following in an order 
dict = {'Professional':1, 'Graduate':3, 'Upto Hr Secondary':5, 'Post Graduate':2,
       'Diploma':4}
df['Education.Level'].replace(dict,inplace = True)

In [0]:
df['No.of.dependents'].replace(np.nan,'1 to 2',inplace = True)
### ordinal variable -> 0 gets 1 , '1 to 2' gets 2 and so on 
dict = {'1 to 2':2, '0':1, '3 to 5':3, 'More than 5':4}
df['No.of.dependents'].replace(dict,inplace = True)

In [0]:
### loan amount ---> convert into float
df['Loan.Amount'] = df['Loan.Amount'].astype('float64')

In [0]:
### contract date ::: when the loan was passed --> can be turned into how far algo the loan was sanctioned
df['Contract.Date'] = (present.year -df['Contract.Date'].apply(lambda x:x.year)  )*12 +  present.month -df['Contract.Date'].apply(lambda x:x.month)

In [0]:
### maturity date ----> 

df['Maturity.Date'] = (df['Maturity.Date'].apply(lambda x:x.year) -present.year  )*12 +  df['Maturity.Date'].apply(lambda x:x.month) - present.month

In [0]:
### replacing with single
df['Marital.status'].replace(np.nan,'Single',inplace = True)
dict = {'Married':1, 'Single':0, 'Divorcee':0, 'Widower':0}
df['Marital.status'].replace(dict,inplace = True)

In [0]:
df['Term'] = df['Term'].astype('float64')

In [0]:
df['Residential.status'].replace(np.nan,'Rented',inplace = True)
dict = {'Rented': 0, 'Self or spouse owned':1, 'Company Quarters':0,
       'Staying with Parents':0, 'Shared Accommodation':0, 'Paying Guest':0,
       'Hostel':0, 'Paying Guest/Shared Accommodation':0 }
df['Residential.status'].replace(dict,inplace = True)

In [0]:
dict = {'Active - Good Standing':1, 'Active - Bad Standing':0,
       'Closed - Obligations met':2}   ### considering it another class
df['pymt_standing'].replace(dict,inplace =True)

In [0]:
### considering monexo fee set different from others assig 0
dict = {'1-M3':3, '1-M5':5, '1-M7':7, 'Monexo Fee Set':0, '1-M6':6, '1-M4':4, '1-M2':2,
       '1-M1':1, '1-M8':8 } 
df['Fee.Set'].replace(dict, inplace =True)

In [0]:
### normalise the newly created float datatype columns

In [29]:
transformed_cols = ['Date.of.Birth','Loan.Amount','Contract.Date','Maturity.Date','Term']
scaler = StandardScaler()
df[transformed_cols] = scaler.fit_transform(df[transformed_cols])

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [30]:
numeric_cols + string_cols   ### these are the features we will be currently using for model

['CRIF.S1.Score',
 'Payment.Amount',
 'Interest.Paid',
 'Principal.Advance.Paid',
 'Total.years.of.experience.in.Employment.',
 'Estimated.Interest',
 'Debt.service.ratio',
 'Salary.Income.current.month',
 'Interest.Rate',
 'Total.Amount.Paid',
 'Principal.Advance.Remaining',
 'Delinquent.Amount',
 'Date.of.Birth',
 'Gender',
 'Education.Level',
 'No.of.dependents',
 'Loan.Amount',
 'Contract.Date',
 'Marital.status',
 'Term',
 'Residential.status',
 'pymt_standing',
 'Maturity.Date',
 'Fee.Set']

In [0]:
new_processed_data = df[numeric_cols+string_cols]
new_processed_data.to_csv('new_processed_data.csv', index = False)